<table class="ui table segment">
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
  <% Floq::Web.queues.each do |queue| %>
    <tr>
      <td><%= queue.label %></td>
      <td><%= queue.count %></td>
    </tr>
  <% end %>
  </tbody>
</table>
