<table class="ui table segment">
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Garbage</th>
    </tr>
  </thead>
  <tbody>
  <% queues.each do |queue| %>
    <tr>
      <td>
        <a href="/queue/<%= queue.label %>">
          <%= queue.label %>
        </a>
      </td>
      <td>
        <%= queue.count %>
      </td>
      <td>
        <%= queue.offset %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
